
*.rds
*.tex

InputData/*
!InputData/manifest

Data/*
!Data/manifest

Cache/*
!Cache/.gitkeep
Tee/*
!Tee/.gitkeep

Tables/original/*
!Tables/original/manifest

Out/*
!Out/.gitkeep

random/*
depr/*

push.R

TASKS
watch.py
views

*.tex
*.swp
*.pdf


venv/
