
*.rds
*.tex

InputData/*
!InputData/manifest
SuppData/*
!SuppData/manifest

Cache/*
!Cache/.gitkeep
Tee/*
!Tee/.gitkeep

Tables/original/*
!Tables/original/manifest

Out/*
!Out/manifest

random/*

push.R

TASKS
watch.py
views

*.tex
*.swp
*.pdf
